<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        version     = "1.3.0"
        versionCode = "10" >
        <!-- versionCode is optional and Android only -->
		
		<name>Contactos</name>
		
		<description>Hola </description>
		
		<autor>  Adrian</autor>
		
		
		
        <preference name="phonegap-version" value="cli6.5.0" />

        
        <gap:platform name="android" />
        
        <preference name="permissions" value="none"/>
        <!-- device required so we can detect if we are using iOS -->
         <plugin name="cordova-plugin-contacts" spec="~2.3.0" />
       <plugin name="cordova-plugin-device" spec="~1.1.5" />

    </widget>
